# Node and Angular-related
/node_modules
/dist
/tmp
/out-tsc

# IDE-specific files
.idea/
.project
.classpath
.vscode/

# Miscellaneous
/.angular/cache
.sass-cache/
coverage

# System files
.DS_Store
Thumbs.db

# IntelliJ IDEA, NetBeans, VS Code specific settings
/.idea/
/nbproject/private/
*.iml
*.ipr
.vscode/*

# Other system files and logs
npm-debug.log
yarn-error.log
testem.log
target/